<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>New Question</h1>
<div class="row align-items-center">
    <label class="col-1">Title</label>
    <div class="col">
        <input class="form-control" type="text" value="How to build a moon park?">
    </div>
</div>

<div class="row mb-3">
    <label class="col-1 col-form-label">Text</label>
    <div class="col">
        <textarea class="form-control" rows="10">Really, how?
Have no idea about it</textarea>
    </div>
</div>

<div class="row align-items-center">
    <label class="col-1">Tags</label>
    <div class="col">
        <input class="form-control" type="text" value="moon, park, puzzle">
    </div>
</div>
<div class="row mt-2">
    <div class="col offset-1">
        <button class="btn btn-primary">Ask!</button>
    </div>

</div>



{% endblock %}